.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 5vh;
}
.no-internet{
    width: 50vw;
}

.oh-no-sorry-you-do{
    text-align: center;
}
@media screen and (max-width: 600px) {
    .form{
        margin: 15vh 2vh 5vh 2vh;
    }
}