.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div-2 {
    background-color: #ffffff;
    position: relative;
    width: 100%;
  }
  
  .index .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .index .frame-4 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 140px 240px 64px;
    position: relative;
    max-width: 100%;
  }
  
  .index .frame-5 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
  }
  
  .index .frame-6 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    position: relative;
  }
  
  .index .frame-7 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .index .text-wrapper {
    align-self: stretch;
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  .index .p {
    align-self: stretch;
    color: #00000099;
    font-family: var(--headings-subheading-1-font-family);
    font-size: var(--headings-subheading-1-font-size);
    font-style: var(--headings-subheading-1-font-style);
    font-weight: var(--headings-subheading-1-font-weight);
    letter-spacing: var(--headings-subheading-1-letter-spacing);
    line-height: var(--headings-subheading-1-line-height);
    position: relative;
  }
  
  .index .button-instance {
    flex: 0 0 auto !important;
  }
  
  .index .img-3 {
    height: 612px;
    position: relative;
    width: 677px;
  }
  
  .index .card {
    height: 300px;
    left: 377px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 300px;
  }
  
  .index .star {
    height: 23px;
    left: 114px;
    position: absolute;
    top: 101px;
    width: 23px;
  }
  
  .index .star-2 {
    height: 23px;
    left: 561px;
    position: absolute;
    top: 539px;
    width: 23px;
  }
  
  .index .card-2 {
    height: 196px;
    left: 8px;
    object-fit: cover;
    position: absolute;
    top: 389px;
    width: 196px;
  }
  
  .index .report {
    height: 91px;
    left: 43px;
    object-fit: cover;
    position: absolute;
    top: 298px;
    width: 83px;
  }
  
  .index .group {
    height: 846px;
    left: 1101px;
    position: absolute;
    top: 23px;
    width: 966px;
    z-index: 0;
  }
  
  .index .overlap-group-2 {
    height: 733px;
    position: relative;
    top: 57px;
    width: 754px;
  }
  
  .index .polygon {
    height: 733px;
    left: 0;
    position: absolute;
    top: 0;
    width: 635px;
  }
  
  .index .polygon-2 {
    height: 733px;
    left: 60px;
    position: absolute;
    top: 0;
    width: 635px;
  }
  
  .index .polygon-3 {
    height: 733px;
    left: 120px;
    position: absolute;
    top: 0;
    width: 635px;
  }
  
  .index .group-2 {
    height: 66.74px;
    position: relative;
    width: 38.96px;
    z-index: -1;
  }
  
  .index .div-3 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 64px 240px;
    position: relative;
    /* width: 1920px; */
  }
  
  .index .calculator {
    -webkit-backdrop-filter: blur(100px) brightness(100%);
    align-items: center;
    align-self: stretch;
    backdrop-filter: blur(100px) brightness(100%);
    background-color: #ffffff80;
    border-radius: 16px;
    box-shadow: 0px 30px 90px #00000033;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding: 24px;
    position: relative;
    width: 100%;
    z-index: 3;
  }
  
  .index .frame-8 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .index .text-wrapper-2 {
    align-self: stretch;
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
  }
  
  .index .text-wrapper-3 {
    align-self: stretch;
    color: #00000099;
    font-family: var(--headings-subheading-1-font-family);
    font-size: var(--headings-subheading-1-font-size);
    font-style: var(--headings-subheading-1-font-style);
    font-weight: var(--headings-subheading-1-font-weight);
    letter-spacing: var(--headings-subheading-1-letter-spacing);
    line-height: var(--headings-subheading-1-line-height);
    position: relative;
    text-align: center;
  }
  
  .index .frame-9 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 16px;
    height: 545px;
    max-height: 545px;
    position: relative;
    width: 100%;
  }
  
  .index .brand-list {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--neutralsgray-100);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    position: relative;
    width: 343px;
  }
  
  .index .text-wrapper-4 {
    align-self: stretch;
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  .index .frame-10 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 16px;
    height: 467px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .index .frame-11 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    margin-bottom: -188px;
    position: relative;
  }
  
  .index .logo-2 {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--neutralsgray-200);
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .index .fill {
    height: 31px;
    position: relative;
    width: 114px;
  }
  
  .index .toggle-checkmark {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .index .design-component-instance-node-2 {
    height: 36px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 103px !important;
  }
  
  .index .toggle-checkmark-instance {
    border-radius: 500px !important;
    overflow: hidden !important;
  }
  
  .index .toggle-checkmark-2 {
    border-radius: 500px !important;
  }
  
  .index .adobe-instance {
    height: 30px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 108px !important;
  }
  
  .index .disney-logo {
    height: 56px;
    position: relative;
    width: 103.18px;
  }
  
  .index .zoom-instance {
    height: 22px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 123px !important;
  }
  
  .index .you-tube-instance {
    height: 31px !important;
    left: unset !important;
    margin-left: -10445px !important;
    margin-top: -442.74px !important;
    position: relative !important;
    top: unset !important;
    width: 103px !important;
  }
  
  .index .vimeo-instance {
    height: 36px !important;
    left: unset !important;
    margin-left: -10445px !important;
    margin-top: -521.74px !important;
    position: relative !important;
    top: unset !important;
    width: 103px !important;
  }
  
  .index .rectangle-wrapper {
    align-items: flex-start;
    align-self: stretch;
    background-color: #80808050;
    border-radius: 23px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 37px 0px;
    position: relative;
  }
  
  .index .rectangle-2 {
    background-color: #606970;
    border-radius: 34px;
    height: 84px;
    position: relative;
    width: 11px;
  }
  
  .index .frame-12 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--neutralsgray-100);
    border-radius: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    padding: 16px;
    position: relative;
  }
  
  .index .frame-13 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 16px 0px;
    position: relative;
    width: 100%;
  }
  
  .index .frame-14 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
  }
  
  .index .text-wrapper-5 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .logo-3 {
    height: 32px;
    position: relative;
    width: 134.34px;
  }
  
  .index .frame-15 {
    align-items: flex-end;
    align-self: stretch;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--neutralsgray-100);
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 8px 0px;
    position: relative;
    width: 100%;
  }
  
  .index .frame-16 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    position: relative;
  }
  
  .index .fill-2 {
    height: 24px;
    position: relative;
    width: 87.07px;
  }
  
  .index .text-wrapper-6 {
    color: #00000080;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .frame-17 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
  }
  
  .index .frame-18 {
    align-self: stretch;
    object-fit: cover;
    position: relative;
    width: 80px;
  }
  
  .index .text-wrapper-7 {
    color: #00000080;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .spotify-instance {
    height: 32px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 90.67px !important;
  }
  
  .index .frame-19 {
    align-self: stretch;
    flex: 0 0 auto;
    object-fit: cover;
    position: relative;
  }
  
  .index .button-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .index .frame-20 {
    align-items: center;
    align-self: stretch;
    background: linear-gradient(180deg, rgb(26, 74, 177) 0%, rgb(49.45, 107.7, 232.69) 100%);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    padding: 24px 16px;
    position: relative;
    width: 100%;
  }
  
  .index .text-wrapper-8 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .index .frame-21 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .index .frame-22 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .index .div-4 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .span {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 0;
  }
  
  .index .text-wrapper-9 {
    font-size: 36px;
  }
  
  .index .text-wrapper-10 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .overlap-group-wrapper {
    height: 161px;
    left: 75px;
    opacity: 0.5;
    position: absolute;
    top: 862px;
    transform: rotate(71.07deg);
    width: 161px;
    z-index: 2;
  }
  
  .index .overlap-group-3 {
    height: 260px;
    left: -50px;
    position: relative;
    top: -50px;
    width: 260px;
  }
  
  .index .pyramid-2 {
    height: 205px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    transform: rotate(-71.07deg);
    width: 205px;
  }
  
  .index .mask-group-7 {
    height: 205px;
    left: 28px;
    position: absolute;
    top: 28px;
    transform: rotate(-71.07deg);
    width: 205px;
  }
  
  .index .overlap-wrapper {
    height: 362px;
    left: 72px;
    opacity: 0.5;
    position: absolute;
    top: 109px;
    transform: rotate(34.25deg);
    width: 362px;
    z-index: 1;
  }
  
  .index .overlap {
    height: 698px;
    left: -168px;
    position: relative;
    top: -168px;
    width: 698px;
  }
  
  .index .pyramid-3 {
    height: 502px;
    left: 98px;
    object-fit: cover;
    position: absolute;
    top: 98px;
    transform: rotate(-34.25deg);
    width: 502px;
  }
  
  .index .mask-group-8 {
    height: 502px;
    left: 98px;
    position: absolute;
    top: 98px;
    transform: rotate(-34.25deg);
    width: 502px;
  }
  
  .index .pyramid-instance {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/pyramid-02-1-2.png) !important;
    height: 639px !important;
    left: 1281px !important;
    opacity: 0.5 !important;
    position: absolute !important;
    top: 43px !important;
    width: 639px !important;
    z-index: 0 !important;
  }
  
  .index .pyramid-2-instance {
    height: 639px !important;
    width: 639px !important;
  }
  
  .index .frame-23 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 64px 0px;
    position: relative;
  }
  
  .index .div-5 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .index .heading {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    position: relative;
  }
  
  .index .img-4 {
    height: 612px;
    position: relative;
    width: 803px;
  }
  
  .index .overlap-group-4 {
    height: 612px;
    position: relative;
  }
  
  .index .dl-beatsnoop {
    background-color: var(--neutralsgray-000);
    border-radius: 16px;
    height: 441px;
    left: 343px;
    position: absolute;
    top: 0;
    width: 460px;
  }
  
  .index .price-tag {
    height: 253px;
    left: 74px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 254px;
  }
  
  .index .group-3 {
    height: 450px;
    left: 435px;
    position: absolute;
    top: 10px;
    width: 368px;
  }
  
  .index .union {
    height: 217px;
    left: 0;
    position: absolute;
    top: 395px;
    width: 292px;
  }
  
  .index .group-4 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/mask-group-3@2x.png);
    background-size: 100% 100%;
    height: 151px;
    left: 579px;
    position: absolute;
    top: 431px;
    width: 137px;
  }
  
  .index .test {
    height: 386px;
    left: 31px;
    object-fit: cover;
    position: absolute;
    top: 186px;
    width: 514px;
  }
  
  .index .overlap-2 {
    height: 526px;
    left: 0;
    position: absolute;
    top: 0;
    width: 783px;
  }
  
  .index .union-2 {
    height: 217px;
    left: 0;
    position: absolute;
    top: 0;
    width: 292px;
  }
  
  .index .frame-24 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: var(--shadow-02);
    display: flex;
    flex-direction: column;
    gap: 16px;
    left: 30px;
    padding: 24px;
    position: absolute;
    top: 85px;
    width: 405px;
  }
  
  .index .text-wrapper-11 {
    align-self: stretch;
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  .index .frame-25 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
    width: 100%;
  }
  
  .index .text-wrapper-12 {
    color: #606970;
    flex: 1;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  .index .text-wrapper-13 {
    color: #606970;
    flex: 1;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: right;
  }
  
  .index .frame-26 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .index .logo-4 {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--neutralsgray-200);
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 100%;
  }
  
  .index .design-component-instance-node-3 {
    height: 24px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 68.67px !important;
  }
  
  .index .text-wrapper-14 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .index .fill-3 {
    height: 20px;
    position: relative;
    width: 73.55px;
  }
  
  .index .adobe-2 {
    height: 24px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 86.4px !important;
  }
  
  .index .autodesk-instance {
    height: 24px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 126.97px !important;
  }
  
  .index .frame-27 {
    align-items: center;
    background-color: #1a4ab1;
    border-radius: 16px;
    box-shadow: var(--shadow-02);
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 327px;
    justify-content: flex-end;
    left: 411px;
    padding: 24px;
    position: absolute;
    top: 192px;
    width: 372px;
  }
  
  .index .clip-path-group {
    height: 135.6px;
    margin-top: -78.6px;
    position: relative;
    width: 129.92px;
  }
  
  .index .text-wrapper-15 {
    align-self: stretch;
    color: #ffffffb2;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .index .div-6 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .index .frame-wrapper {
    align-items: center;
    align-self: stretch;
    background-color: #f1f5f833;
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: space-around;
    padding: 24px;
    position: relative;
    width: 100%;
  }
  
  .index .frame-28 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    position: relative;
  }
  
  .index .text-wrapper-16 {
    color: #ffffffb2;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .check-mark {
    height: 32px;
    position: relative;
    width: 32px;
  }
  
  .index .frame-29 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .index .text-wrapper-17 {
    color: #ffffffb2;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .cube-3 {
    background-image: unset !important;
    left: 215px !important;
    position: absolute !important;
    top: 15px !important;
  }
  
  .index .flat-cylinder-2 {
    left: 682px !important;
    position: absolute !important;
    top: 26px !important;
  }
  
  .index .cylinder-2 {
    background-image: unset !important;
    left: 462px !important;
    position: absolute !important;
    top: 546px !important;
  }
  
  .index .overlap-3 {
    height: 612px;
    left: 0;
    position: absolute;
    top: 0;
    width: 803px;
  }
  
  .index .dl-beatsnoop-2 {
    background-color: var(--neutralsgray-000);
    border-radius: 16px;
    height: 441px;
    left: 275px;
    position: absolute;
    top: 0;
    width: 528px;
  }
  
  .index .frame-30 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: var(--shadow-02);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 352px;
    justify-content: flex-end;
    left: 402px;
    padding: 16px;
    position: absolute;
    top: 145px;
    width: 368px;
  }
  
  .index .mask-group-9 {
    height: 128.76px;
    margin-top: -68.76px;
    position: relative;
    width: 126.52px;
  }
  
  .index .div-7 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .index .frame-31 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .index .text-wrapper-18 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .text-wrapper-19 {
    color: #00000080;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .index .frame-32 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #80808050;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 20px 16px;
    position: relative;
    width: 100%;
  }
  
  .index .rectangle-3 {
    background-color: #80808050;
    border-radius: 13px;
    height: 12px;
    position: relative;
    width: 226px;
  }
  
  .index .frame-33 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 15px;
    position: relative;
    width: 100%;
  }
  
  .index .frame-34 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #80808050;
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 8px;
    padding: 20px 16px;
    position: relative;
  }
  
  .index .rectangle-4 {
    background-color: #80808050;
    border-radius: 13px;
    height: 12px;
    position: relative;
    width: 120px;
  }
  
  .index .frame-35 {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .index .button-2 {
    align-items: center;
    background-color: #1a4ab1;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
  }
  
  .index .text-2 {
    color: white;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .index .icon-instance-node {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
  }
  
  .index .element {
    height: 612px;
    left: 0;
    position: absolute;
    top: 0;
    width: 405px;
  }
  
  .index .cone-instance {
    background-image: unset !important;
    left: 324px !important;
    position: absolute !important;
    top: 72px !important;
  }
  
  .index .helix-instance {
    background-image: unset !important;
    left: 743px !important;
    position: absolute !important;
    top: 38px !important;
  }
  
  .index .cube-1 {
    left: 658px !important;
    position: absolute !important;
    top: 541px !important;
  }
  
  .index .section {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 64px 240px;
    position: relative;
    /* width: 1920px; */
  }
  
  .index .div-8 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .index .frame-36 {
    align-items: center;
    align-self: stretch;
    background-color: #c2d2f480;
    border-radius: 24px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    padding: 64px;
    position: relative;
    width: 100%;
  }
  
  .index .heading-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    padding: 0px 120px;
    position: relative;
    width: 100%;
  }
  
  .index .frame-37 {
    height: 420px;
    position: relative;
    width: 984px;
  }
  
  .index .frame-38 {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: var(--shadow-02);
    height: 420px;
    left: 356px;
    position: absolute;
    top: 0;
    width: 284px;
  }
  
  .index .logo-5 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--neutralsgray-200);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    left: 16px;
    padding: 16px;
    position: absolute;
    top: 16px;
    width: 252px;
  }
  
  .index .logo-6 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--neutralsgray-200);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    left: 16px;
    padding: 16px;
    position: absolute;
    top: 100px;
    width: 252px;
  }
  
  .index .logo-7 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--neutralsgray-200);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    left: 16px;
    padding: 16px;
    position: absolute;
    top: 263px;
    width: 252px;
  }
  
  .index .logo-8 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--neutralsgray-200);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    left: 16px;
    padding: 16px;
    position: absolute;
    top: 341px;
    width: 252px;
  }
  
  .index .disney-logo-2 {
    height: 35px;
    position: relative;
    width: 64px;
  }
  
  .index .logo-9 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--neutralsgray-200);
    border-radius: 8px;
    box-shadow: 0px 40px 40px #00000033;
    display: flex;
    justify-content: space-between;
    left: -11px;
    padding: 16px;
    position: absolute;
    top: 184px;
    width: 306px;
  }
  
  .index .button-3 {
    align-items: center;
    background-color: #1a4ab1;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    justify-content: center;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
  }
  
  .index .text-3 {
    color: white;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .index .twitter-instance {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/tw2octdenoiserbeauty-002-copy@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 59px !important;
    left: 717px !important;
    position: absolute !important;
    top: 191px !important;
    width: 60px !important;
  }
  
  .index .youtube-instance {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/yt2octdenoiserbeauty-002-copy@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 66px !important;
    left: 842px !important;
    position: absolute !important;
    top: 160px !important;
    width: 65px !important;
  }
  
  .index .whatsapp-instance {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/wa2octdenoiserbeauty-002-copy@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 38px !important;
    left: 19px !important;
    position: absolute !important;
    top: 181px !important;
    width: 37px !important;
  }
  
  .index .ptoctdenoiserbeauty {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/pt2octdenoiserbeauty-002-copy-1@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 59px !important;
    left: 224px !important;
    position: absolute !important;
    top: 309px !important;
    width: 60px !important;
  }
  
  .index .vimeo-2 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/v2octdenoiserbeauty-002-copy@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 59px !important;
    left: 69px !important;
    position: absolute !important;
    top: 36px !important;
    width: 59px !important;
  }
  
  .index .facebook-instance {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/fb2octdenoiserbeauty-002@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 59px !important;
    left: 165px !important;
    position: absolute !important;
    top: 161px !important;
    width: 59px !important;
  }
  
  .index .linked-in-instance {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/lk2octdenoiserbeauty-002-copy@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 41px !important;
    left: 681px !important;
    position: absolute !important;
    top: 59px !important;
    width: 42px !important;
  }
  
  .index .telegram-instance {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/tel2octdenoiserbeauty-002-copy@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 38px !important;
    left: 265px !important;
    position: absolute !important;
    top: 68px !important;
    width: 38px !important;
  }
  
  .index .spotify-2 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/sp2octdenoiserbeauty-002-copy@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 30px !important;
    left: 694px !important;
    position: absolute !important;
    top: 332px !important;
    width: 29px !important;
  }
  
  .index .zoomoctdenoiserbeauty-002 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/zoomoctdenoiserbeauty-002@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 60px !important;
    left: 852px !important;
    position: absolute !important;
    top: 323px !important;
    width: 60px !important;
  }
  
  .index .vk2octdenoiserbeauty-002 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/vk2octdenoiserbeauty-002@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 73px !important;
    left: 56px !important;
    position: absolute !important;
    top: 309px !important;
    width: 71px !important;
  }
  
  .index .reddit2octdenoiserbeauty-002-instance {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e3ab5e179fd75deb1ba6bd/releases/64e3abf57f6aa148a586a050/img/reddit2octdenoiserbeauty-002@2x.png) !important;
    box-shadow: var(--shadow-02) !important;
    height: 60px !important;
    left: 882px !important;
    position: absolute !important;
    top: 35px !important;
    width: 59px !important;
  }
  
  .index .frame-39 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .index .card-3 {
    flex: 1;
    flex-grow: 1;
    margin-bottom: -40px;
    margin-left: -20px;
    position: relative;
  }
  
  .index .card-4 {
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .index .frame-40 {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .index .state {
    align-items: center;
    align-self: stretch;
    background-color: #1a4ab1;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    padding: 48px 24px;
    position: relative;
  }
  
  .index .text-wrapper-20 {
    align-self: stretch;
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
  }
  
  .index .text-wrapper-21 {
    align-self: stretch;
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .index .state-2 {
    align-items: center;
    align-self: stretch;
    background-color: #ffa842;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    padding: 48px 24px;
    position: relative;
  }
  
  .index .state-3 {
    align-items: center;
    align-self: stretch;
    background-color: #ff5874;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    padding: 48px 24px;
    position: relative;
  }
  
  .index .state-4 {
    align-items: center;
    align-self: stretch;
    background-color: #09003a;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    padding: 48px 24px;
    position: relative;
  }
  
  .index .footer {
    align-items: flex-start;
    background-color: #E2E8ED;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    mix-blend-mode: normal;
    position: relative;
    margin-left: -5%;
    width: 110%;
    /* width: 1920px; */
  }
  
  .index .group-5 {
    height: 705px;
    left: 457px;
    opacity: 0.5;
    position: absolute;
    top: -93px;
    width: 1007px;
  }
  
  .index .overlap-4 {
    height: 705px;
    position: relative;
  }
  
  .index .pyramid-4 {
    height: 550px;
    left: 77px;
    opacity: 0.5;
    position: absolute;
    top: 77px;
    transform: rotate(-110deg);
    width: 550px;
  }
  
  .index .overlap-group-5 {
    height: 872px;
    left: -177px;
    position: relative;
    top: -177px;
    width: 816px;
  }
  
  .index .pyramid-5 {
    height: 612px;
    left: 56px;
    object-fit: cover;
    position: absolute;
    top: 130px;
    transform: rotate(110deg);
    width: 705px;
  }
  
  .index .mask-group-10 {
    height: 612px;
    left: 56px;
    position: absolute;
    top: 130px;
    transform: rotate(110deg);
    width: 705px;
  }
  
  .index .pyramid-6 {
    height: 550px;
    left: 273px;
    opacity: 0.5;
    position: absolute;
    top: 54px;
    transform: rotate(-95deg);
    width: 550px;
  }
  
  .index .overlap-5 {
    height: 640px;
    left: -48px;
    position: relative;
    top: -48px;
    width: 584px;
  }
  
  .index .pyramid-7 {
    height: 534px;
    left: -6px;
    object-fit: cover;
    position: absolute;
    top: 53px;
    transform: rotate(95deg);
    width: 596px;
  }
  
  .index .mask-group-11 {
    height: 534px;
    left: -6px;
    position: absolute;
    top: 53px;
    transform: rotate(95deg);
    width: 596px;
  }
  
  .index .pyramid-8 {
    height: 550px;
    left: 434px;
    opacity: 0.5;
    position: absolute;
    top: 31px;
    transform: rotate(-85deg);
    width: 550px;
  }
  
  .index .overlap-6 {
    height: 638px;
    left: -48px;
    position: relative;
    top: -40px;
    width: 561px;
  }
  
  .index .pyramid-9 {
    height: 511px;
    left: -18px;
    object-fit: cover;
    position: absolute;
    top: 64px;
    transform: rotate(85deg);
    width: 596px;
  }
  
  .index .mask-group-12 {
    height: 511px;
    left: -18px;
    position: absolute;
    top: 64px;
    transform: rotate(85deg);
    width: 596px;
  }
  
  .index .div-relative {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1440px;
    padding: 32px 0px;
    position: relative;
  }
  
  .index .div-relative-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    padding: 64px 240px;
    position: relative;
    width: 100%;
  }
  
  .index .text-wrapper-22 {
    align-self: stretch;
    color: var(--neutralsblack);
    font-family: "Poppins", Helvetica;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
  }
  
  .index .div-relative-3 {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--neutralsgray-000);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 64px;
    padding: 51px 50px 62px;
    position: relative;
    width: 100%;
  }
  
  .index .div-grid {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 120px;
    justify-content: center;
    padding: 0px 1.53e-5px 0px 0px;
    position: relative;
    width: 1280px;
  }
  
  .index .div-wforest-full {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 53.77px 0px 39.91px;
    position: relative;
  }
  
  .index .nav {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 0px 3.81e-6px;
    position: relative;
  }
  
  .index .link-margin {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 41.7px 20.23px 0px;
    position: relative;
  }
  
  .index .text-wrapper-23 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .link-start-with-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -4.2px;
    padding: 0px 4.7px 20.23px 0px;
    position: relative;
  }
  
  .index .link-sign-in-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -4.2px;
    padding: 0px 88.7px 20.23px 0px;
    position: relative;
  }
  
  .index .link-contact-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -4.2px;
    padding: 0px 82.7px 20.23px 0px;
    position: relative;
  }
  
  .index .link-pricing-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 26.08px 20.23px 0px;
    position: relative;
  }
  
  .index .link-blog-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -4.2px;
    padding: 0px 38.81px 20.23px 0px;
    position: relative;
  }
  
  .index .link-glossary-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -4.2px;
    padding: 0px 10.81px 20.23px 0px;
    position: relative;
  }
  
  .index .link-careers-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -4.2px;
    padding: 0px 17.81px 20.23px 0px;
    position: relative;
  }
  
  .index .nav-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 53.77px 0px 79.94px;
    position: relative;
  }
  
  .index .link-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 0px 16px;
    position: relative;
  }
  
  .index .link {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    padding: 0px 13.67px 4.23px 0px;
    position: relative;
  }
  
  .index .SVG {
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .index .link-margin-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -4.2px;
    padding: 0px 0px 16px;
    position: relative;
  }
  
  .index .link-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    padding: 0px 25.67px 4.23px 0px;
    position: relative;
  }
  
  .index .link-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    padding: 0px 2.67px 4.23px 0px;
    position: relative;
  }
  
  .index .div-wforest-full-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 53.77px 0px 120px;
    position: relative;
  }
  
  .index .nav-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 11.77px;
    padding: 0px 0px 16px;
    position: relative;
  }
  
  .index .terms-conditions-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 3.02px 4.23px 0px;
    position: relative;
  }
  
  .index .link-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 48.02px 4.23px 0px;
    position: relative;
  }
  
  .index .logo-10 {
    height: 40px;
    position: relative;
    width: 167.92px;
  }
  
  .index .p-t {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding: 0px 0.14px 0.91px 2px;
    position: relative;
  }
  
  .index .text-wrapper-24 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19.9px;
    margin-top: -1px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .navbar-instance {
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
  }
  