
@media screen and (max-width: 451px) {
    .frame-5{
        flex-direction: column;
        margin-top: 10vh;
    }
    .logo{
        width: 40vw;
    }
    .text{
        font-size: 12px;
    }
    .div-5{
        flex-direction: column-reverse;
    }
    .heading{
        width: auto!important;
        flex-direction: column;
    }
    .img-4{
        width: 90vw!important;
    }
    .p{
        font-size: 16px!important;
        width: auto!important;
    }
    .text-wrapper-69{
        width: auto!important;
    }
    .heading-70{
        left: 0vw!important;
        width: auto!important;
    }
    .div-50{
        flex-direction: column;
    }
    .sub-header{
        font-size: 22px;
    }
    .frame-39{
        flex-direction: column;
    }
    .hiw{
        width: 95vw!important;
        height: 30vh!important;
    }
    .frame-40{
        flex-direction: column;
    }
    .state{
        border-top-right-radius: 16px;
    }
    .state-4{
        border-bottom-left-radius: 16px;
    }
    .frame-39{
        gap: 8px!important;
    }
    .frame-9{
        flex-direction: column;
    }
    .logo-2{
        width: 75vw;
        padding: 12px!important;
    }
    .frame-11{
        height: 40vh;
    }
    .text-wrapper-2{
        font-size: 24px;
    }
    .text-wrapper-5{
        font-size: 12px;
    }
    .logo-3{
        width: 50px!important;
    }
    .text-wrapper-6{
        font-size: 10px!important;
    }
    .frame-18{
        margin-bottom: 4vh!important;
    }
    .lose-the-padding{
        padding: 0px!important;
    }
    .text-wrapper-8{
        font-size: 20px!important;
    }
    .frame-37{
        height: 30vh!important;
    }
    .select-subscription-section{
        flex-direction: column;
    }
    .prices{
        padding: 16px!important;
        font-size: 16px!important;
    }
    .user-info-section{
        flex-direction: column;
    }
    .user-info .div-3{
        width: 100%!important;
        padding: 100px 0px 0px!important;
        gap: 0px!important;
    }
    .user-info .img-2{
        width: auto!important;
    }
    .user-info .div-relative-2{
        padding: 0!important;
    }
    .user-info .div-relative{
        padding: 24px 0px!important;
    }
    .approved-section{
        flex-direction: column;
    }
    .approved-div-3{
        width: 100%!important;
        padding: 140px 14px 0px!important;
    }
    .approved-text-wrapper-3{
        font-size: 28px;
    }
    .approved-form{
        padding: 14px!important;
        gap: 8px!important;
    }
    .approved-frame-5{
        padding: 14px!important;
    }
    .approved-text-wrapper-5{
        font-size: 12px!important;
        width: 120px!important;
    }
    .approved-text-wrapper-7{
        font-size: 28px!important;
    }
    .approved-frame-9{
        padding: 8px!important;
    }
    .approved-frame-10{
        padding: 8px!important;
    }
    .approved-frame-11{
        padding: 8px!important;
    }
    .approved-img-2{
        width: auto!important;
    }
    .index .jybe-virtual-card-wrapper{
        flex-direction: column;
        gap: 14px!important;
        width: 320px!important;
    }
    .card-div{
        margin-top: 12vh!important;
    }
    .index .jybe-virtual-card{
        height: 200px!important;
        width: 300px!important;
    }
    .card-text-wrapper{
        font-size: 20px!important;
    }
    .card-img{
        top: 24%!important;
        font-size: 24px!important;
    }
    .expiry{
        top: 41%!important;
    left: 47%!important;
    }
    .name{
        top: 41%!important;
    left: 10%!important;
    }
    .cvv{
        top: 72.5%!important;
        left: 84%!important;
        font-size: 12px!important;
        width: 25px!important;
        height: 15px!important;
    }
    .div-grid{
        justify-content: space-between!important;
        flex-direction: column;
        gap: 20px;
        align-items: start!important;
    }
    .div-7{
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5vh;
    }
    .select-subscription-img{
        width: 100vw;
    }
}